body {
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    height: 100%;
    width: auto;
    margin: 10px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.welcome {
    grid-row: 1/2;
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 4em;
    color: goldenrod;
}

.bold {
    font-weight: bold;
    margin-left: 10px;
}

section {
    grid-row: 2/3;
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    background-color: slategrey;
    text-align: center;
}

.one, .two, .three {
    color: white;
    font-family: ;
}

.one {
    grid-row: 2/3;
    grid-column: 1/2;
    margin: 30px;
    border-top: 30px solid purple;
}

.two {
    grid-row: 2/3;
    grid-column: 2/3;
    margin: 30px;
    border-top: 30px solid goldenrod;
}

.three {
    grid-row: 2/3;
    grid-column: 3/4;
    margin: 30px;
    border-top: 30px solid green;
}

@media (min-width: 576px) {
.welcome {
    text-align: center;
    }
section {
    display: flex;
    flex-direction: row;
}
}

@media (min-width: 992px) {
    section {
        display: flex;
        flex-direction: row;
    }
    }